# Ignore devbox files
/.devbox

# Ignore generated .app bundle (rebuild with: make app)
/dist/

# Ignore backup files
/backups/**
!/backups/**/

# Ingore data (world) files
/data/**
!/data/**/

# Always include .keep files
!.keep
